<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css">   
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/index.css">


<!-- <div id="cluster-map"></div> -->
<div class="container" >
    <form id="form__all" id='submit' class="form-group" action="/gyms" method="GET">
    <div class="row g-3 my-3">
        <div class="col-md-2">
            <div class="d-flex justify-content-between">
                <select name="sort" id="sort" class="form-select">
                    <option value="" <%= query.sort === false ? "selected" : "" %>>Sort By</option>
                    <option value="createTime,desc" <%= (query.sort || 'newest,desc').split(',')[0] === "newest" ? "selected" : "" %>>Newest</option>
                    <option value="popularity,desc" <%= (query.sort || 'popularity,desc').split(',')[0] === "popularity" ? "selected" : "" %>>Popularity</option>
                    <option value="rating,desc" <%= (query.sort || 'rating,desc').split(',')[0] === "rating" ? "selected" : "" %>>Rating</option>
                    <option value="price,asc" <%= (query.sort || 'price,asc').split(',')[0] === "price" ? "selected" : "" %>>Price</option>
                </select>
            </div>
        </div>
        <div class="col-md-10 search">
            <div class="d-flex">
                <input class="form-control me-2" type="search" name="search" value="<%= query.search || '' %>" aria-label="Search">
                <button class="btn search-btn" onclick="handleSearch()">Search</button>
            </div>
        </div>
    </div>
    
    
    <div class="main ">
        <div class="row g-3">
            <div class="nav__bar col-md-2">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button"  type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Ratings
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <div class="form-check" >
                                <input class="form-check-input" type="radio" name="rating" id="exampleRadios1" value=4 <%=query.rating==="4"?"checked":""%>>
                                <label class="form-check-label" for="exampleRadios1" value="4">
                                    4 stars & up
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="rating" id="exampleRadios2" value=3 <%=query.rating==="3"?"checked":""%>>
                                <label class="form-check-label" for="exampleRadios2">
                                    3 stars & up
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="rating" id="exampleRadios3" value=2 <%=query.rating==="2"?"checked":""%>>
                                <label class="form-check-label" for="exampleRadios3">
                                    2 stars & up
                                </label>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                        Category
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="General" name="category" id="flexCheckDefault" <%= (query.category && query.category.includes("General")) ? "checked" : "" %>>                            
                                <label class="form-check-label" for="flexCheckDefault">
                                    General
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Tennis" name="category" id="flexCheckChecked" <%= (query.category && query.category.includes("Tennis")) ? "checked" : "" %>>
                                <label class="form-check-label" for="flexCheckChecked">
                                    Tennis
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Swimming" name="category" id="flexCheckChecked" <%= (query.category && query.category.includes("Swimming")) ? "checked" : "" %>>
                                <label class="form-check-label" for="flexCheckChecked">
                                    Swimming
                                </label>
                            </div>  
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Yoga" name="category" id="flexCheckChecked" <%= (query.category && query.category.includes("YogaYoga")) ? "checked" : "" %>>
                                <label class="form-check-label" for="flexCheckChecked">
                                    Yoga
                                </label>
                            </div>                        
                        </div>
                    </div>
                    </div>
                    <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
                        Price
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Paid" id="flexCheckDefault" name="price" <%=query.price==="Paid"?"checked":""%>>
                                <label class="form-check-label" for="flexCheckDefault">
                                Paid
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Free" id="flexCheckChecked" name="price" <%=query.price==="Free"?"checked":""%>>
                                <label class="form-check-label" for="flexCheckChecked">
                                Free
                                </label>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="main__content col-md-10 container">
                <div class=" row row-cols-1 row-cols-md-3 g-3">
                        <% for (let gym of gyms) { %>          
                            <div class="col">
 
                            <div class="card   mb-3 p-0">
                                
                                <div class="card">
                                    <div class="card__image">
                                        <% if(gym.images.length) { %>
                                            <img crossorigin="anonymous" src="<%= gym.images[0].url %>" class="img-fluid" alt="<%= gym.title %>">
                                        <% } %>
                                    </div>
                                </div>
                                
                                <div >
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between"> 
                                            <p class="card-title fw-bold"><%= gym.title %></p>
                                            <% if (typeof currentUser !== 'undefined' && currentUser) { %>
                                                <a class="favorite-btn" data-gym-id="<%= gym._id %>">
                                                    <i class="<%= currentUser.favorites.includes(gym._id.toString()) ? 'bi bi-heart-fill text-danger' : 'bi bi-heart' %>"></i>
                                                </a>
                                            <% } %>
                                        </div>                                   
                                        <div class="card-subtitle mb-2 text-body-secondary d-flex"> 
                                        <% if (gym.reviews  && gym.reviews.length > 0 ) { %> 
                                            <%const sum = gym.reviews.reduce((total, review) => total + review.rating, 0); %>
                                            <%const average = sum / gym.reviews.length;
                                            %> 
                                            <p class="mr-1 px-1 border-end"><%= average %> score  </p>
                                            <p class="mr-1 px-1 border-end"><%= gym.reviews.length %> comments</p>
                                        <% } else { %>
                                            <p class="px-1 border-end">No reviews yet</p>
                                        <% } %> 
                                        <p class="ps-1"><%= gym.price == 0 ? "free" :  "$"+gym.price%></p>
                                        </div>
                                        
                                        <p class="card-text">Features: <%= gym.features %></p> 
                                        <div class="d-flex justify-content-between">
                                            <p class="card-text">
                                                <small class="text-muted"><i class="bi bi-geo-alt"></i><%= gym.location %></small>
                                            </p>
                                            <p class="create-time"><%= new Intl.DateTimeFormat('en-US').format(gym.createTime) %></p>
            
                                        </div>
                                        <div class="text-center" style="margin-top: auto">
                                            <a href="/gyms/<%= gym._id %>" class="btn view-button">View More</a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <% } %>
                
                    </div>
            </div>
        </div>
            
    </div>
    
    <div class="row row-cols-auto justify-content-center align-items-center pagination">

        <div class="page">
            <input type="hidden" name="page" id="page" value="1">
            <% if (pages > 0) { %>
                <ul class="pagination justify-content-center">
                    <% if (current == 1) { %>
                        <li class="disabled page-item"><a class="page-link custom-page-link">First</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link custom-page-link" onclick="First(1)">First</a></li>
                    <% } %>
        
                    <% if (Number(current) - 1 > 0) { %>
                        <li class="page-item"><a class="page-link custom-page-link" onclick="First(<%= Number(current) - 1 %>)">Prev</a></li>
                    <% } else { %>
                        <li class="disabled page-item"><a class="page-link custom-page-link">Prev</a></li>
                    <% } %>
                
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1); %>
                
                    <% if (i !== 1) { %>
                        <li class="disabled"><a class="page-link custom-page-link">...</a></li>
                    <% } %>
                
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active page-item"><a class="page-link custom-page-link active-page"><%= i %></a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link custom-page-link" onclick="First(<%= i %>)"><%= i %></a></li>
                        <% } %>
                
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled"><a class="page-link custom-page-link">...</a></li>
                        <% } %>
                    <% } %>
                
                    <% if (Number(current) + 1 <= pages) { %>
                        <li class="page-item"><a class="page-link custom-page-link" onclick="First(<%= Number(current) + 1 %>)">Next</a></li>
                    <% } else { %>
                        <li class="disabled page-item"><a class="page-link custom-page-link">Next</a></li>
                    <% } %>
                
                    <% if (current == pages) { %>
                        <li class="disabled"><a class="page-link custom-page-link">Last</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link custom-page-link" onclick="First(<%= pages %>)">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
        </div>
    </div>
    
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
<script src="/javascripts/index.js"></script>
<script src="/javascripts/clusterMap.js"></script>
