<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/myposts.css">

<div class="container mt-5">
    <h1 class="mb-4">My Collections</h1>
    <div class="row">
        <div class="main__content col-md-10">
            <div class="row row-cols-1 row-cols-md-3 g-3">
                <% if (gyms.length > 0) { %>
                    <% for (let gym of gyms) { %>          
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card__image">
                                    <% if (gym.images.length) { %>
                                        <img crossorigin="anonymous" src="<%= gym.images[0].url %>" class="img-fluid" alt="<%= gym.title %>">
                                    <% } else { %>
                                        <img crossorigin="anonymous" src="https://res.cloudinary.com/dwkdvav2l/image/upload/v1716346418/YelpCamp/pbeme0n663dxkr9uxryk.png" class="img-fluid" alt="<%= gym.title %>">  
                                    <% } %>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between"> 
                                        <p class="card-title fw-bold"><%= gym.title %></p>
                                        <a class="favorite-btn" data-gym-id="<%= gym._id %>">
                                            <i class="<%= currentUser.favorites.includes(gym._id.toString()) ? 'bi bi-heart-fill text-danger' : 'bi bi-heart' %>"></i>
                                        </a>
                                    </div>                                   
                                    <div class="card-subtitle mb-2 text-body-secondary d-flex"> 
                                        <% if (gym.reviews && gym.reviews.length > 0) { %> 
                                            <% const sum = gym.reviews.reduce((total, review) => total + review.rating, 0); %>
                                            <% const average = sum / gym.reviews.length; %> 
                                            <p class="mr-1 px-1 border-end"><%= average.toFixed(1) %> score</p>
                                            <p class="mr-1 px-1 border-end"><%= gym.reviews.length %> comments</p>
                                        <% } else { %>
                                            <p class="px-1 border-end">No reviews yet</p>
                                        <% } %> 
                                        <p class="ps-1"><%= gym.price === 0 ? "free" : "$" + gym.price %></p>
                                    </div>
                                    <p class="card-text">Features: <%= gym.features %></p> 
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text">
                                            <small class="text-muted"><i class="bi bi-geo-alt"></i> <%= gym.location %></small>
                                        </p>
                                        <p class="create-time"><%= new Intl.DateTimeFormat('en-US').format(gym.createTime) %></p>
                                    </div>
                                    <div class="text-center" style="margin-top: auto">
                                        <a href="/gyms/<%= gym._id %>" class="btn view-button">View More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } else { %>
                    <p>You have not posted any gyms yet!</p>
                <% } %>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/index.js"></script>
